.places__paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.places__paragraph:last-child {
  margin-top: 28px;
}

@media screen and (max-width: 940px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 624px) {
  .places__paragraph {
    margin: auto;
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {

  .places__paragraph:nth-child(1) {
    margin-top: 32px;

  }
  .places__paragraph:nth-child(2) {
    margin-top: 25px;

  }
}

@media screen and (max-width: 490px) {
  .places__paragraph {
    margin: auto;
    max-width: 288px;
    
  }
}

