@media screen and (max-width: 920px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .places__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
