.footer__links {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .footer__links {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    align-items: baseline;
  }
}

