.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 32px;
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
  }
}

@media all and (max-width: 320px){
	.lead__subtitle {
    max-width: 288px;
	  margin-top: 16px;
	  font-size: 16px;
	  line-height: 20px;
	}
}