.photo-grid__items {
  display: grid;
  margin: 0  auto;
  max-width: 1184px;
  justify-content: center;
  margin-top: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
  gap: 16px; 
}

@media screen and (max-width: 1024px){
	.photo-grid__items {
		grid-template-columns: repeat(auto-fit, minmax(300px,284px));
	}
}

