.photo-grid__items {
  display: grid;
  justify-content: center;
  margin: 0  auto;
  max-width: 1184px;
  padding-top: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px,284px));
  grid-template-rows:repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 1024px){
	.photo-grid__items {
		grid-template-columns: repeat(auto-fit, minmax(300px,284px));
	}
}

