.intro__content {
	margin-left: 148px;
	margin-top: 92px;
	max-width: 690px;

}

@media screen and (max-width: 1024px){
	.intro__content {
		margin-left: 48px;
		margin-right: 286px;
	}
}

@media screen and (max-width: 768px){
	.intro__content {
		max-width: 720px;
    	margin-left: 24px;
    	margin-right: 24px;
    	margin-top: 88px;

	}
}

@media screen and (max-width: 320px){
	.intro__content {
		max-width: 288px;
    	margin-left: 16px;
   	 	margin-right: 16px;
    	margin-top: 64px;

	}
}